<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="weather" href="/tabs/weather">
      <ion-icon aria-hidden="true" name="rainy-outline"></ion-icon>
      <ion-label>Weather</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-history" href="/tabs/search-history">
      <ion-icon aria-hidden="true" name="thermometer-outline"></ion-icon>
      <ion-label>Search history</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-app" href="/tabs/about-app">
      <ion-icon aria-hidden="true" name="help-circle-outline"></ion-icon>
      <ion-label>About app</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
