<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WeatherWise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WeatherWise</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-content>
     <ion-input
         type="text"
         fill="solid"
         label="Weather location search"
         labelPlacement="floating"
         helperText="Input you location for weather discovery."
         errorText="Invalid location"
         [(ngModel)] ="userInput"
         ></ion-input>
    </ion-card-content>
   </ion-card>

   <ion-button (click)="weatherClicked()"
   expand="block">Find your searched location weather</ion-button>
 
   <ion-card *ngIf="weatherOutput$ | async; let output">
    <ion-card-content>
     <!--  {{ output.responseData.translatedText }} -->
     Temperature in city {{ output.name}} was today around {{ output.main.temp}}° Celsius 

    </ion-card-content>
  </ion-card>


</ion-content>
